{{!
    @template block_topactivecourses/course_tiles

    Renders a grid of course tiles for the Top Active Courses block.

    Context variables:
    * courses - Array of course objects

    Example context (json):
    {
        "courses": [
            {
                "url": "/course/view.php?id=2",
                "image": "https://picsum.photos/400/200?random=2",
                "title": "Mathematics 101",
                "tags": ["math", "beginner", "algebra"]
            },
            {
                "url": "/course/view.php?id=3",
                "image": "https://picsum.photos/400/200?random=3",
                "title": "Biology Basics",
                "tags": ["biology", "science", "intro"]
            }
        ]
    }
}}
<div class="topactivecourses-tiles">
    {{#courses}}
    <div class="topactivecourses-tile card">
        <a href="{{url}}" class="topactivecourses-link">
            <img src="{{image}}" class="card-img-top topactivecourses-img" alt="{{title}}">
            <div class="card-body">
                <h5 class="card-title topactivecourses-title">{{title}}</h5>
                <div class="topactivecourses-tags">
                {{#tags}}
                    <span class="badge bg-primary topactivecourses-tag">{{.}}</span>
                {{/tags}}
                </div>
            </div>
        </a>
    </div>
    {{/courses}}
</div>
